h2,
p {
  text-align: center;
}

h2 {
  padding: 1em;
}

.about-images {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 4em;
  margin-right: 3em;
  transform: translateY(-1em);
}

.content-container {
  max-width: 700px;
  padding: 0 20px;
}

main {
  margin: 0;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
}
