h2,
p {
  text-align: center;
}

h2 {
  padding: 1em;
}

.about-images {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 4em;
  margin-right: 3em;
  transform: translateY(-1em);
}

.content-container {
  max-width: 700px;
  padding: 0 20px;
}

main {
  margin: 0;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
}

/*Responsiveness, mobile*/
@media screen and (max-width: 520px) {
  .about-images {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    gap: 1em;
    width: 50%;
    justify-content: center;
  }
  .content-container {
    padding: 0;
  }
  h2 {
    margin-top: 1em;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
  }
}
