body {
  background-color: #fffdf7;
}
nav,
.nav-links {
  background-color: #f7f4ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: black;
  gap: 20px;
  list-style: none;
}
.banner {
  background-color: #f0f8f5;
  color: #378c64;
  word-spacing: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.image-examples {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 1.1;
}
footer {
  background-color: #f7f4ee;
  gap: 20px;
  padding: 20px;
}

.plan {
  color: #ff5e57;
  text-align: center;
}
