h1 {
  text-align: center;
  color: #378c64;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}

.meal-plans-intro {
  padding: 20px;
}

.meal-plan-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 20px;
  margin: 20px;
}

.meal-plan-card {
  background-color: #f0f8f5;
  text-align: center;
}

.weekly-menu-intro {
  padding: 20px;
}

.weekly-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 20px;
  margin: 20px;
}

.weekly-menu-card {
  background-color: #f0f8f5;
}

.weekly-menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.icon-group {
  display: flex;
  padding-top: 10px;
}

.heart-icon {
  width: 25px !important;
  height: 25px !important;
  padding-top: 3px;
}

.calendar-icon {
  width: 45px !important;
  height: 45px !important;
}

.meal-plan-card img,
.weekly-menu-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 1.1;
}

footer {
  background-color: #f7f4ee;
  gap: 20px;
  padding: 20px;
}
