main {
  display: grid;
  place-items: center;
}

h1 {
  text-align: center;
  color: #378c64;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}

.meal-plans-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  width: 80%;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 1.1;
}

.img-caption {
  background-color: #f0f8f5;
  color: #1c1c1c;
  padding: 12px 20px;
  text-align: center;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}
