/* text properties */
h1 {
  text-align: center;
  color: #378c64;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}

h2 {
  font-size: 1.3rem;
  color: #378c64;
  margin-bottom: 0.5rem;
}

/* Recipe Cards */
.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.recipe-box {
  background-color: #f0f8f5;
  color: black;
  padding: 12px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Icons and Buttons */
.icon-group {
  display: flex;
  gap: 2px;
  align-items: center;
}

.liked-container {
  width: 22px !important;
  height: 22px !important;
  object-fit: contain;
  display: inline-block;
  margin-bottom: 10px;
}

.calendar-container {
  width: 40px !important;
  height: 40px !important;
  margin-left: 6px;
  cursor: pointer;
  object-fit: contain;
  display: inline-block;
}

/* Scroll function */
.scroll-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.recipe-row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  flex-wrap: nowrap;
}

.recipe-row::-webkit-scrollbar {
  display: none;
}

.scroll-arrow {
  font-size: 2rem;
  border: none;
  background: transparent;
  color: #2e603b;
  cursor: pointer;
  padding: 0 10px;
}

/* images and animations */
.recipe-box {
  flex: 0 0 23%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in;
}
.recipe-box:hover {
  transform: translateY(-7px);
}

.recipe-box img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  display: block;
}

figcaption {
  font-size: 0.9rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f8f5;
  border-radius: 5px;
}

.liked-container,
.calendar-container {
  width: 18px;
  height: 18px;
  margin-left: 6px;
  cursor: pointer;
}

.scroll-arrow {
  font-size: 2rem;
  border: none;
  background: transparent;
  color: #2e603b;
  cursor: pointer;
  padding: 0 10px;
}

/*Responsiveness, mobile*/
@media screen and (max-width: 520px) {
  h2 {
    margin-top: 3em;
  }
}
